Source/SGM/SGM_Management/Service References/SGM_Service/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SGMSaleGas_ValidateGasStationLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stGasStationID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stGasStationMacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMSaleGas_ValidateGasStationLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMSaleGas_ValidateGasStationLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMSaleGas_ValidateCardId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCardId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMSaleGas_ValidateCardIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMSaleGas_ValidateCardIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMSaleGas_GasBuying">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCardId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="money" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMSaleGas_GasBuyingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMSaleGas_GasBuyingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_ValidateAdminLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="admin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_ValidateAdminLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_ValidateAdminLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_CheckCustomerExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stCusID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_CheckCustomerExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_CheckCustomerExistResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_AddNewCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtoCus" type="tns:CustomerDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerVisa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerBirthDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerNote" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SGMManager_AddNewCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_AddNewCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SGMSaleGas_ValidateGasStationLoginSoapIn">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_ValidateGasStationLogin" />
  </wsdl:message>
  <wsdl:message name="SGMSaleGas_ValidateGasStationLoginSoapOut">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_ValidateGasStationLoginResponse" />
  </wsdl:message>
  <wsdl:message name="SGMSaleGas_ValidateCardIdSoapIn">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_ValidateCardId" />
  </wsdl:message>
  <wsdl:message name="SGMSaleGas_ValidateCardIdSoapOut">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_ValidateCardIdResponse" />
  </wsdl:message>
  <wsdl:message name="SGMSaleGas_GasBuyingSoapIn">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_GasBuying" />
  </wsdl:message>
  <wsdl:message name="SGMSaleGas_GasBuyingSoapOut">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_GasBuyingResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_ValidateAdminLoginSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_ValidateAdminLogin" />
  </wsdl:message>
  <wsdl:message name="SGMManager_ValidateAdminLoginSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_ValidateAdminLoginResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_CheckCustomerExistSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_CheckCustomerExist" />
  </wsdl:message>
  <wsdl:message name="SGMManager_CheckCustomerExistSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_CheckCustomerExistResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_AddNewCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_AddNewCustomer" />
  </wsdl:message>
  <wsdl:message name="SGMManager_AddNewCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_AddNewCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="SGMSaleGas_ValidateGasStationLogin">
      <wsdl:input message="tns:SGMSaleGas_ValidateGasStationLoginSoapIn" />
      <wsdl:output message="tns:SGMSaleGas_ValidateGasStationLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_ValidateCardId">
      <wsdl:input message="tns:SGMSaleGas_ValidateCardIdSoapIn" />
      <wsdl:output message="tns:SGMSaleGas_ValidateCardIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_GasBuying">
      <wsdl:input message="tns:SGMSaleGas_GasBuyingSoapIn" />
      <wsdl:output message="tns:SGMSaleGas_GasBuyingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_ValidateAdminLogin">
      <wsdl:input message="tns:SGMManager_ValidateAdminLoginSoapIn" />
      <wsdl:output message="tns:SGMManager_ValidateAdminLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_CheckCustomerExist">
      <wsdl:input message="tns:SGMManager_CheckCustomerExistSoapIn" />
      <wsdl:output message="tns:SGMManager_CheckCustomerExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_AddNewCustomer">
      <wsdl:input message="tns:SGMManager_AddNewCustomerSoapIn" />
      <wsdl:output message="tns:SGMManager_AddNewCustomerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SGMSaleGas_ValidateGasStationLogin">
      <soap:operation soapAction="http://tempuri.org/SGMSaleGas_ValidateGasStationLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_ValidateCardId">
      <soap:operation soapAction="http://tempuri.org/SGMSaleGas_ValidateCardId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_GasBuying">
      <soap:operation soapAction="http://tempuri.org/SGMSaleGas_GasBuying" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_ValidateAdminLogin">
      <soap:operation soapAction="http://tempuri.org/SGMManager_ValidateAdminLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_CheckCustomerExist">
      <soap:operation soapAction="http://tempuri.org/SGMManager_CheckCustomerExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_AddNewCustomer">
      <soap:operation soapAction="http://tempuri.org/SGMManager_AddNewCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SGMSaleGas_ValidateGasStationLogin">
      <soap12:operation soapAction="http://tempuri.org/SGMSaleGas_ValidateGasStationLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_ValidateCardId">
      <soap12:operation soapAction="http://tempuri.org/SGMSaleGas_ValidateCardId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_GasBuying">
      <soap12:operation soapAction="http://tempuri.org/SGMSaleGas_GasBuying" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_ValidateAdminLogin">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_ValidateAdminLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_CheckCustomerExist">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_CheckCustomerExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_AddNewCustomer">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_AddNewCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://tuanly.somee.com/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://tuanly.somee.com/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>