Source/SGM/SGM_Management/Service References/SGM_Service/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SGMSaleGas_GetGasStationList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stGasStoreID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMSaleGas_GetGasStationListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMSaleGas_GetGasStationListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMSaleGas_ValidateGasStationLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stGasStationID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stGasStationMacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMSaleGas_ValidateGasStationLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMSaleGas_ValidateGasStationLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMSaleGas_ValidateGasStoreLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stGasStoreID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stGasStoreMacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMSaleGas_ValidateGasStoreLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMSaleGas_ValidateGasStoreLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMSaleGas_ValidateCardId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCardId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMSaleGas_ValidateCardIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMSaleGas_ValidateCardIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMSaleGas_GasBuying">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonSaleGasDTO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMSaleGas_GasBuyingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMSaleGas_GasBuyingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMSaleGas_GetSaleGasReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stGasStoreID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stGasStationID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dateStart" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dateEnd" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="stCardID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMSaleGas_GetSaleGasReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMSaleGas_GetSaleGasReportResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMSaleGas_GetCardReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stGasStationID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dateStart" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dateEnd" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="stCardID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMSaleGas_GetCardReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMSaleGas_GetCardReportResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_ValidateAdminLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="admin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_ValidateAdminLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_ValidateAdminLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_UpdateAdminAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="admin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="admin_new" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_UpdateAdminAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_UpdateAdminAccountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_UpdateSystemPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonSysAdminDTO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_UpdateSystemPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_UpdateSystemPriceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_CheckCustomerExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stCusID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_CheckCustomerExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_CheckCustomerExistResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_AddNewCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonCustomerDTO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_AddNewCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_AddNewCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_GetCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stCusID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bExactly" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_GetCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_GetCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_UpdateCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonCustomerDTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stCusID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_UpdateCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_UpdateCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_DelCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stCusID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_DelCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_DelCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMSaleGas_GetCustomerList">
        <s:complexType />
      </s:element>
      <s:element name="SGMSaleGas_GetCustomerListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMSaleGas_GetCustomerListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_CheckCardExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stCardID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_CheckCardExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_CheckCardExistResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_GetCurrentPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iGasType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_GetCurrentPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_GetCurrentPriceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_AddNewCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsCardDTO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_AddNewCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_AddNewCardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_AddRechargeCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsRechargeDTO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_AddRechargeCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_AddRechargeCardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_ChangeCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oldCardID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsRechargeDTO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_ChangeCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_ChangeCardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_UpdateRechargeIDForCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stCardID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_UpdateRechargeIDForCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_UpdateRechargeIDForCardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_UpdateMoneyForCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stCardID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iMoney" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_UpdateMoneyForCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_UpdateMoneyForCardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_GetCardsOfCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stCusID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_GetCardsOfCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_GetCardsOfCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_UpdateCardState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stCardID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bLocked" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_UpdateCardStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_UpdateCardStateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_CheckGasStationExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stGasStationID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_CheckGasStationExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_CheckGasStationExistResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_AddNewGasStaion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsGasStationDTO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_AddNewGasStaionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_AddNewGasStaionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_GetGasStation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stGasStationID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stGasStoreID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_GetGasStationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_GetGasStationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_UpdateGasStation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonCustomerDTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stGasStationID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_UpdateGasStationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_UpdateGasStationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_DelGasStation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stGasStationID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_DelGasStationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_DelGasStationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_CheckGasStoreExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stGasStoreID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_CheckGasStoreExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_CheckGasStoreExistResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_AddNewGasStore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsGasStoreDTO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_AddNewGasStoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_AddNewGasStoreResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_GetGasStore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stGasStoreID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_GetGasStoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_GetGasStoreResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_UpdateGasStore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonGasStoreDTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stGasStoreID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_UpdateGasStoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_UpdateGasStoreResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_AddNewGasStoreUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonGasStoreUpdateDTO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_AddNewGasStoreUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_AddNewGasStoreUpdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_DelGasStore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stGasStoreID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_DelGasStoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_DelGasStoreResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_GetGasStoreList">
        <s:complexType />
      </s:element>
      <s:element name="SGMManager_GetGasStoreListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_GetGasStoreListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_GetGasStoreUpdateHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stGasStoreID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fromDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="toDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SGMManager_GetGasStoreUpdateHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SGMManager_GetGasStoreUpdateHistoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SGMSaleGas_GetGasStationListSoapIn">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_GetGasStationList" />
  </wsdl:message>
  <wsdl:message name="SGMSaleGas_GetGasStationListSoapOut">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_GetGasStationListResponse" />
  </wsdl:message>
  <wsdl:message name="SGMSaleGas_ValidateGasStationLoginSoapIn">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_ValidateGasStationLogin" />
  </wsdl:message>
  <wsdl:message name="SGMSaleGas_ValidateGasStationLoginSoapOut">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_ValidateGasStationLoginResponse" />
  </wsdl:message>
  <wsdl:message name="SGMSaleGas_ValidateGasStoreLoginSoapIn">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_ValidateGasStoreLogin" />
  </wsdl:message>
  <wsdl:message name="SGMSaleGas_ValidateGasStoreLoginSoapOut">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_ValidateGasStoreLoginResponse" />
  </wsdl:message>
  <wsdl:message name="SGMSaleGas_ValidateCardIdSoapIn">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_ValidateCardId" />
  </wsdl:message>
  <wsdl:message name="SGMSaleGas_ValidateCardIdSoapOut">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_ValidateCardIdResponse" />
  </wsdl:message>
  <wsdl:message name="SGMSaleGas_GasBuyingSoapIn">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_GasBuying" />
  </wsdl:message>
  <wsdl:message name="SGMSaleGas_GasBuyingSoapOut">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_GasBuyingResponse" />
  </wsdl:message>
  <wsdl:message name="SGMSaleGas_GetSaleGasReportSoapIn">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_GetSaleGasReport" />
  </wsdl:message>
  <wsdl:message name="SGMSaleGas_GetSaleGasReportSoapOut">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_GetSaleGasReportResponse" />
  </wsdl:message>
  <wsdl:message name="SGMSaleGas_GetCardReportSoapIn">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_GetCardReport" />
  </wsdl:message>
  <wsdl:message name="SGMSaleGas_GetCardReportSoapOut">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_GetCardReportResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_ValidateAdminLoginSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_ValidateAdminLogin" />
  </wsdl:message>
  <wsdl:message name="SGMManager_ValidateAdminLoginSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_ValidateAdminLoginResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_UpdateAdminAccountSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_UpdateAdminAccount" />
  </wsdl:message>
  <wsdl:message name="SGMManager_UpdateAdminAccountSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_UpdateAdminAccountResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_UpdateSystemPriceSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_UpdateSystemPrice" />
  </wsdl:message>
  <wsdl:message name="SGMManager_UpdateSystemPriceSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_UpdateSystemPriceResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_CheckCustomerExistSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_CheckCustomerExist" />
  </wsdl:message>
  <wsdl:message name="SGMManager_CheckCustomerExistSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_CheckCustomerExistResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_AddNewCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_AddNewCustomer" />
  </wsdl:message>
  <wsdl:message name="SGMManager_AddNewCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_AddNewCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_GetCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_GetCustomer" />
  </wsdl:message>
  <wsdl:message name="SGMManager_GetCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_UpdateCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="SGMManager_UpdateCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_DelCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_DelCustomer" />
  </wsdl:message>
  <wsdl:message name="SGMManager_DelCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_DelCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="SGMSaleGas_GetCustomerListSoapIn">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_GetCustomerList" />
  </wsdl:message>
  <wsdl:message name="SGMSaleGas_GetCustomerListSoapOut">
    <wsdl:part name="parameters" element="tns:SGMSaleGas_GetCustomerListResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_CheckCardExistSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_CheckCardExist" />
  </wsdl:message>
  <wsdl:message name="SGMManager_CheckCardExistSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_CheckCardExistResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_GetCurrentPriceSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_GetCurrentPrice" />
  </wsdl:message>
  <wsdl:message name="SGMManager_GetCurrentPriceSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_GetCurrentPriceResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_AddNewCardSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_AddNewCard" />
  </wsdl:message>
  <wsdl:message name="SGMManager_AddNewCardSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_AddNewCardResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_AddRechargeCardSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_AddRechargeCard" />
  </wsdl:message>
  <wsdl:message name="SGMManager_AddRechargeCardSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_AddRechargeCardResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_ChangeCardSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_ChangeCard" />
  </wsdl:message>
  <wsdl:message name="SGMManager_ChangeCardSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_ChangeCardResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_UpdateRechargeIDForCardSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_UpdateRechargeIDForCard" />
  </wsdl:message>
  <wsdl:message name="SGMManager_UpdateRechargeIDForCardSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_UpdateRechargeIDForCardResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_UpdateMoneyForCardSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_UpdateMoneyForCard" />
  </wsdl:message>
  <wsdl:message name="SGMManager_UpdateMoneyForCardSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_UpdateMoneyForCardResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_GetCardsOfCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_GetCardsOfCustomer" />
  </wsdl:message>
  <wsdl:message name="SGMManager_GetCardsOfCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_GetCardsOfCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_UpdateCardStateSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_UpdateCardState" />
  </wsdl:message>
  <wsdl:message name="SGMManager_UpdateCardStateSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_UpdateCardStateResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_CheckGasStationExistSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_CheckGasStationExist" />
  </wsdl:message>
  <wsdl:message name="SGMManager_CheckGasStationExistSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_CheckGasStationExistResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_AddNewGasStaionSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_AddNewGasStaion" />
  </wsdl:message>
  <wsdl:message name="SGMManager_AddNewGasStaionSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_AddNewGasStaionResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_GetGasStationSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_GetGasStation" />
  </wsdl:message>
  <wsdl:message name="SGMManager_GetGasStationSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_GetGasStationResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_UpdateGasStationSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_UpdateGasStation" />
  </wsdl:message>
  <wsdl:message name="SGMManager_UpdateGasStationSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_UpdateGasStationResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_DelGasStationSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_DelGasStation" />
  </wsdl:message>
  <wsdl:message name="SGMManager_DelGasStationSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_DelGasStationResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_CheckGasStoreExistSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_CheckGasStoreExist" />
  </wsdl:message>
  <wsdl:message name="SGMManager_CheckGasStoreExistSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_CheckGasStoreExistResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_AddNewGasStoreSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_AddNewGasStore" />
  </wsdl:message>
  <wsdl:message name="SGMManager_AddNewGasStoreSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_AddNewGasStoreResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_GetGasStoreSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_GetGasStore" />
  </wsdl:message>
  <wsdl:message name="SGMManager_GetGasStoreSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_GetGasStoreResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_UpdateGasStoreSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_UpdateGasStore" />
  </wsdl:message>
  <wsdl:message name="SGMManager_UpdateGasStoreSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_UpdateGasStoreResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_AddNewGasStoreUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_AddNewGasStoreUpdate" />
  </wsdl:message>
  <wsdl:message name="SGMManager_AddNewGasStoreUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_AddNewGasStoreUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_DelGasStoreSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_DelGasStore" />
  </wsdl:message>
  <wsdl:message name="SGMManager_DelGasStoreSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_DelGasStoreResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_GetGasStoreListSoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_GetGasStoreList" />
  </wsdl:message>
  <wsdl:message name="SGMManager_GetGasStoreListSoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_GetGasStoreListResponse" />
  </wsdl:message>
  <wsdl:message name="SGMManager_GetGasStoreUpdateHistorySoapIn">
    <wsdl:part name="parameters" element="tns:SGMManager_GetGasStoreUpdateHistory" />
  </wsdl:message>
  <wsdl:message name="SGMManager_GetGasStoreUpdateHistorySoapOut">
    <wsdl:part name="parameters" element="tns:SGMManager_GetGasStoreUpdateHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="SGMSaleGas_GetGasStationList">
      <wsdl:input message="tns:SGMSaleGas_GetGasStationListSoapIn" />
      <wsdl:output message="tns:SGMSaleGas_GetGasStationListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_ValidateGasStationLogin">
      <wsdl:input message="tns:SGMSaleGas_ValidateGasStationLoginSoapIn" />
      <wsdl:output message="tns:SGMSaleGas_ValidateGasStationLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_ValidateGasStoreLogin">
      <wsdl:input message="tns:SGMSaleGas_ValidateGasStoreLoginSoapIn" />
      <wsdl:output message="tns:SGMSaleGas_ValidateGasStoreLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_ValidateCardId">
      <wsdl:input message="tns:SGMSaleGas_ValidateCardIdSoapIn" />
      <wsdl:output message="tns:SGMSaleGas_ValidateCardIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_GasBuying">
      <wsdl:input message="tns:SGMSaleGas_GasBuyingSoapIn" />
      <wsdl:output message="tns:SGMSaleGas_GasBuyingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_GetSaleGasReport">
      <wsdl:input message="tns:SGMSaleGas_GetSaleGasReportSoapIn" />
      <wsdl:output message="tns:SGMSaleGas_GetSaleGasReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_GetCardReport">
      <wsdl:input message="tns:SGMSaleGas_GetCardReportSoapIn" />
      <wsdl:output message="tns:SGMSaleGas_GetCardReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_ValidateAdminLogin">
      <wsdl:input message="tns:SGMManager_ValidateAdminLoginSoapIn" />
      <wsdl:output message="tns:SGMManager_ValidateAdminLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateAdminAccount">
      <wsdl:input message="tns:SGMManager_UpdateAdminAccountSoapIn" />
      <wsdl:output message="tns:SGMManager_UpdateAdminAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateSystemPrice">
      <wsdl:input message="tns:SGMManager_UpdateSystemPriceSoapIn" />
      <wsdl:output message="tns:SGMManager_UpdateSystemPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_CheckCustomerExist">
      <wsdl:input message="tns:SGMManager_CheckCustomerExistSoapIn" />
      <wsdl:output message="tns:SGMManager_CheckCustomerExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_AddNewCustomer">
      <wsdl:input message="tns:SGMManager_AddNewCustomerSoapIn" />
      <wsdl:output message="tns:SGMManager_AddNewCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_GetCustomer">
      <wsdl:input message="tns:SGMManager_GetCustomerSoapIn" />
      <wsdl:output message="tns:SGMManager_GetCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateCustomer">
      <wsdl:input message="tns:SGMManager_UpdateCustomerSoapIn" />
      <wsdl:output message="tns:SGMManager_UpdateCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_DelCustomer">
      <wsdl:input message="tns:SGMManager_DelCustomerSoapIn" />
      <wsdl:output message="tns:SGMManager_DelCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_GetCustomerList">
      <wsdl:input message="tns:SGMSaleGas_GetCustomerListSoapIn" />
      <wsdl:output message="tns:SGMSaleGas_GetCustomerListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_CheckCardExist">
      <wsdl:input message="tns:SGMManager_CheckCardExistSoapIn" />
      <wsdl:output message="tns:SGMManager_CheckCardExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_GetCurrentPrice">
      <wsdl:input message="tns:SGMManager_GetCurrentPriceSoapIn" />
      <wsdl:output message="tns:SGMManager_GetCurrentPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_AddNewCard">
      <wsdl:input message="tns:SGMManager_AddNewCardSoapIn" />
      <wsdl:output message="tns:SGMManager_AddNewCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_AddRechargeCard">
      <wsdl:input message="tns:SGMManager_AddRechargeCardSoapIn" />
      <wsdl:output message="tns:SGMManager_AddRechargeCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_ChangeCard">
      <wsdl:input message="tns:SGMManager_ChangeCardSoapIn" />
      <wsdl:output message="tns:SGMManager_ChangeCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateRechargeIDForCard">
      <wsdl:input message="tns:SGMManager_UpdateRechargeIDForCardSoapIn" />
      <wsdl:output message="tns:SGMManager_UpdateRechargeIDForCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateMoneyForCard">
      <wsdl:input message="tns:SGMManager_UpdateMoneyForCardSoapIn" />
      <wsdl:output message="tns:SGMManager_UpdateMoneyForCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_GetCardsOfCustomer">
      <wsdl:input message="tns:SGMManager_GetCardsOfCustomerSoapIn" />
      <wsdl:output message="tns:SGMManager_GetCardsOfCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateCardState">
      <wsdl:input message="tns:SGMManager_UpdateCardStateSoapIn" />
      <wsdl:output message="tns:SGMManager_UpdateCardStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_CheckGasStationExist">
      <wsdl:input message="tns:SGMManager_CheckGasStationExistSoapIn" />
      <wsdl:output message="tns:SGMManager_CheckGasStationExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_AddNewGasStaion">
      <wsdl:input message="tns:SGMManager_AddNewGasStaionSoapIn" />
      <wsdl:output message="tns:SGMManager_AddNewGasStaionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_GetGasStation">
      <wsdl:input message="tns:SGMManager_GetGasStationSoapIn" />
      <wsdl:output message="tns:SGMManager_GetGasStationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateGasStation">
      <wsdl:input message="tns:SGMManager_UpdateGasStationSoapIn" />
      <wsdl:output message="tns:SGMManager_UpdateGasStationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_DelGasStation">
      <wsdl:input message="tns:SGMManager_DelGasStationSoapIn" />
      <wsdl:output message="tns:SGMManager_DelGasStationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_CheckGasStoreExist">
      <wsdl:input message="tns:SGMManager_CheckGasStoreExistSoapIn" />
      <wsdl:output message="tns:SGMManager_CheckGasStoreExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_AddNewGasStore">
      <wsdl:input message="tns:SGMManager_AddNewGasStoreSoapIn" />
      <wsdl:output message="tns:SGMManager_AddNewGasStoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_GetGasStore">
      <wsdl:input message="tns:SGMManager_GetGasStoreSoapIn" />
      <wsdl:output message="tns:SGMManager_GetGasStoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateGasStore">
      <wsdl:input message="tns:SGMManager_UpdateGasStoreSoapIn" />
      <wsdl:output message="tns:SGMManager_UpdateGasStoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_AddNewGasStoreUpdate">
      <wsdl:input message="tns:SGMManager_AddNewGasStoreUpdateSoapIn" />
      <wsdl:output message="tns:SGMManager_AddNewGasStoreUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_DelGasStore">
      <wsdl:input message="tns:SGMManager_DelGasStoreSoapIn" />
      <wsdl:output message="tns:SGMManager_DelGasStoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_GetGasStoreList">
      <wsdl:input message="tns:SGMManager_GetGasStoreListSoapIn" />
      <wsdl:output message="tns:SGMManager_GetGasStoreListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SGMManager_GetGasStoreUpdateHistory">
      <wsdl:input message="tns:SGMManager_GetGasStoreUpdateHistorySoapIn" />
      <wsdl:output message="tns:SGMManager_GetGasStoreUpdateHistorySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SGMSaleGas_GetGasStationList">
      <soap:operation soapAction="http://tempuri.org/SGMSaleGas_GetGasStationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_ValidateGasStationLogin">
      <soap:operation soapAction="http://tempuri.org/SGMSaleGas_ValidateGasStationLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_ValidateGasStoreLogin">
      <soap:operation soapAction="http://tempuri.org/SGMSaleGas_ValidateGasStoreLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_ValidateCardId">
      <soap:operation soapAction="http://tempuri.org/SGMSaleGas_ValidateCardId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_GasBuying">
      <soap:operation soapAction="http://tempuri.org/SGMSaleGas_GasBuying" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_GetSaleGasReport">
      <soap:operation soapAction="http://tempuri.org/SGMSaleGas_GetSaleGasReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_GetCardReport">
      <soap:operation soapAction="http://tempuri.org/SGMSaleGas_GetCardReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_ValidateAdminLogin">
      <soap:operation soapAction="http://tempuri.org/SGMManager_ValidateAdminLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateAdminAccount">
      <soap:operation soapAction="http://tempuri.org/SGMManager_UpdateAdminAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateSystemPrice">
      <soap:operation soapAction="http://tempuri.org/SGMManager_UpdateSystemPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_CheckCustomerExist">
      <soap:operation soapAction="http://tempuri.org/SGMManager_CheckCustomerExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_AddNewCustomer">
      <soap:operation soapAction="http://tempuri.org/SGMManager_AddNewCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_GetCustomer">
      <soap:operation soapAction="http://tempuri.org/SGMManager_GetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/SGMManager_UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_DelCustomer">
      <soap:operation soapAction="http://tempuri.org/SGMManager_DelCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_GetCustomerList">
      <soap:operation soapAction="http://tempuri.org/SGMSaleGas_GetCustomerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_CheckCardExist">
      <soap:operation soapAction="http://tempuri.org/SGMManager_CheckCardExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_GetCurrentPrice">
      <soap:operation soapAction="http://tempuri.org/SGMManager_GetCurrentPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_AddNewCard">
      <soap:operation soapAction="http://tempuri.org/SGMManager_AddNewCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_AddRechargeCard">
      <soap:operation soapAction="http://tempuri.org/SGMManager_AddRechargeCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_ChangeCard">
      <soap:operation soapAction="http://tempuri.org/SGMManager_ChangeCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateRechargeIDForCard">
      <soap:operation soapAction="http://tempuri.org/SGMManager_UpdateRechargeIDForCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateMoneyForCard">
      <soap:operation soapAction="http://tempuri.org/SGMManager_UpdateMoneyForCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_GetCardsOfCustomer">
      <soap:operation soapAction="http://tempuri.org/SGMManager_GetCardsOfCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateCardState">
      <soap:operation soapAction="http://tempuri.org/SGMManager_UpdateCardState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_CheckGasStationExist">
      <soap:operation soapAction="http://tempuri.org/SGMManager_CheckGasStationExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_AddNewGasStaion">
      <soap:operation soapAction="http://tempuri.org/SGMManager_AddNewGasStaion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_GetGasStation">
      <soap:operation soapAction="http://tempuri.org/SGMManager_GetGasStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateGasStation">
      <soap:operation soapAction="http://tempuri.org/SGMManager_UpdateGasStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_DelGasStation">
      <soap:operation soapAction="http://tempuri.org/SGMManager_DelGasStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_CheckGasStoreExist">
      <soap:operation soapAction="http://tempuri.org/SGMManager_CheckGasStoreExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_AddNewGasStore">
      <soap:operation soapAction="http://tempuri.org/SGMManager_AddNewGasStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_GetGasStore">
      <soap:operation soapAction="http://tempuri.org/SGMManager_GetGasStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateGasStore">
      <soap:operation soapAction="http://tempuri.org/SGMManager_UpdateGasStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_AddNewGasStoreUpdate">
      <soap:operation soapAction="http://tempuri.org/SGMManager_AddNewGasStoreUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_DelGasStore">
      <soap:operation soapAction="http://tempuri.org/SGMManager_DelGasStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_GetGasStoreList">
      <soap:operation soapAction="http://tempuri.org/SGMManager_GetGasStoreList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_GetGasStoreUpdateHistory">
      <soap:operation soapAction="http://tempuri.org/SGMManager_GetGasStoreUpdateHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SGMSaleGas_GetGasStationList">
      <soap12:operation soapAction="http://tempuri.org/SGMSaleGas_GetGasStationList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_ValidateGasStationLogin">
      <soap12:operation soapAction="http://tempuri.org/SGMSaleGas_ValidateGasStationLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_ValidateGasStoreLogin">
      <soap12:operation soapAction="http://tempuri.org/SGMSaleGas_ValidateGasStoreLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_ValidateCardId">
      <soap12:operation soapAction="http://tempuri.org/SGMSaleGas_ValidateCardId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_GasBuying">
      <soap12:operation soapAction="http://tempuri.org/SGMSaleGas_GasBuying" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_GetSaleGasReport">
      <soap12:operation soapAction="http://tempuri.org/SGMSaleGas_GetSaleGasReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_GetCardReport">
      <soap12:operation soapAction="http://tempuri.org/SGMSaleGas_GetCardReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_ValidateAdminLogin">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_ValidateAdminLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateAdminAccount">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_UpdateAdminAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateSystemPrice">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_UpdateSystemPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_CheckCustomerExist">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_CheckCustomerExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_AddNewCustomer">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_AddNewCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_GetCustomer">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_GetCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateCustomer">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_UpdateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_DelCustomer">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_DelCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMSaleGas_GetCustomerList">
      <soap12:operation soapAction="http://tempuri.org/SGMSaleGas_GetCustomerList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_CheckCardExist">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_CheckCardExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_GetCurrentPrice">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_GetCurrentPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_AddNewCard">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_AddNewCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_AddRechargeCard">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_AddRechargeCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_ChangeCard">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_ChangeCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateRechargeIDForCard">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_UpdateRechargeIDForCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateMoneyForCard">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_UpdateMoneyForCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_GetCardsOfCustomer">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_GetCardsOfCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateCardState">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_UpdateCardState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_CheckGasStationExist">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_CheckGasStationExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_AddNewGasStaion">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_AddNewGasStaion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_GetGasStation">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_GetGasStation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateGasStation">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_UpdateGasStation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_DelGasStation">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_DelGasStation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_CheckGasStoreExist">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_CheckGasStoreExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_AddNewGasStore">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_AddNewGasStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_GetGasStore">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_GetGasStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_UpdateGasStore">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_UpdateGasStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_AddNewGasStoreUpdate">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_AddNewGasStoreUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_DelGasStore">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_DelGasStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_GetGasStoreList">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_GetGasStoreList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SGMManager_GetGasStoreUpdateHistory">
      <soap12:operation soapAction="http://tempuri.org/SGMManager_GetGasStoreUpdateHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://tuanly.somee.com/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://tuanly.somee.com/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>